@import 'variables.css';
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

#print-view {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

h1,
h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
}

hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

img {
  width: 9.5em;
}

.btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-image: linear-gradient(var(--secondary), var(--secondary));
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: multiply;
  color: var(--white);
  padding: 10px 50px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, .2);
  box-shadow: var(--shadow-2);
  transform: scale(1.01);
  animation: upAndDown 1s infinite alternate;
}

.btn::before, .btn::after {
  display: none;
}

a[href*='print'] {
  display: none;
}

@media print {
  @page {
    size: auto;
    margin: 0mm;
  }

  body {
    font-size: .85rem;
    margin: 10mm 15mm 10mm 15mm;
  }

  html {
    margin: 0px;
  }

  a {
    text-decoration: none;
    color: black
  }

  .btn {
    display: none !important;
  }
}

